.cart-container {
  border-radius: 10px;
  .cart-container-content {
    display: flex;
    gap: 20px;
    transition: 0.3s;

    &-left {
      width: 70%;
      background-color: #ffffff;
      padding: 10px 20px 10px 20px;
      border-radius: 10px;
      .left-title {
        font-size: 22px;
        font-weight: 600;
        margin: auto;
      }
      .left-total {
        font-size: 15px;
        font-weight: normal;
      }
      .list-product {
        border: 1px solid #bdbdbd;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        .content-checkout {
          display: flex;
          gap: 15px;
          width: 100%;
          margin-bottom: 10px;

          .image-product-checkout {
            position: relative;

            img {
              width: 120px;
              border-radius: 5px;
            }

            .counter-product {
              position: absolute;
              background-color: rgb(255, 122, 122);
              min-width: 20px;
              text-align: center;
              margin-left: -17px;
              margin-top: -5px;
              color: white;
              border-radius: 60%;
              padding: 3px 3px;
              font-size: 12px;
            }
          }
          .content-product-checkout {
            width: 100%;
            // position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            // justify-content: space-between;
            .header-product-checkout {
              width: 60%;
              &-name {
                font-weight: 600;
                font-size: 15px;
                cursor: pointer;
              }
              &-name:hover {
                color: #29a07e;
              }
              &-price {
                font-size: 14px;
                color: #a5a5a5;
                font-weight: 600;
              }
              .price414 {
                display: none;
              }
            }
            .footer-product-checkout {
              width: 20%;
              display: flex;
              flex-direction: column;
              align-items: center;
              &-after {
                font-weight: 600;
                color: #ff0000;
              }
              .quantity {
                width: 80px;
                // padding: 5px 5px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
                border: 1px solid #bdbdbd;
                border-radius: 8px;
                span {
                  font-size: 16px;
                  // width: 20px;
                  // height: 20px;
                  // padding: 4px 6px;
                  // border: 1px solid #cfcfcf;
                }
                .minus {
                  font-size: 20px;
                  color: #bdbdbd;
                  cursor: pointer;
                  font-weight: 600;
                }
                .minus:hover {
                  color: #333;
                }
                .plus {
                  font-size: 20px;
                  cursor: pointer;
                  color: #bdbdbd;
                  font-weight: 600;
                }
                .plus:hover {
                  color: #333;
                }
              }
            }
            .delete {
              width: 20%;
              text-align: center;
              svg {
                cursor: pointer;
              }
              svg:hover {
                color: red;
              }
              .quantity414 {
                display: none;
              }
            }
          }
        }
      }
      h2 {
        margin: auto;
        padding: 20px 0 10px;
        border-top: 1px solid #bdbdbd;
      }
      .address {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        gap: 10px;

        // textarea:focus,
        // input:focus {
        //   outline: none;
        // }
        &-left {
          display: flex;
          flex-direction: column;
          width: 50%;
          // background-color: red;
        }
        &-right {
          width: 50%;
          // background-color: green;
        }
        input {
          color: #000;
          width: 100%;
          padding-left: 20px;
          box-sizing: border-box;
          // padding: 5px 3px;
          padding: 0 15px;
          height: 40px;
          border-radius: 5px;
          border: 1px solid #e2e2e2;
          background: #ededed;
          // background: #fafafa;
          font-size: 15px;
        }
        textarea:focus,
        input:focus {
          background-color: #fafafa;
          border: 2px solid #29a07e;
          outline: 0;
        }
        textarea {
          color: #000;
          width: 100%;
          font-size: 15px;
          box-sizing: border-box;
          padding-left: 20px;
          border-radius: 5px;
          padding: 10px 16px;
          border: 1px solid #e2e2e2;
          background: #ededed;
          height: 190px;
        }
        .full-size {
          width: 100%;
          margin-bottom: 10px;
        }
        .full-size:last-child {
          margin-bottom: 0;
        }
        .flex-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .half-size {
          width: 48%;
        }
      }
    }

    &-right {
      width: 30%;
      padding: 10px;
      position: relative;
      font-weight: 500;
      background-color: #ffffff;
      //   padding: 20px;
      margin-bottom: 1px;
      border-radius: 10px;
      // box-sizing: border-box;

      .footer-detail {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 1px 6px rgba(14, 14, 14, 0.4);

        // border: 1px solid #29a07e;
        position: sticky;
        top: 120px;
        position: -webkit-sticky;
        h3 {
          margin: auto;
          margin-bottom: 10px;
        }
        .shipping {
          padding: 10px;
          border-radius: 10px;
          background-color: #f4f4f4;
          h5 {
            margin: auto;
          }
          p {
            margin: 10px 0;
            display: flex;
            align-items: center;
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            input {
              margin-right: 5px;
              accent-color: #29a07e;
            }
          }
        }
        .price {
          //   background-color: red;

          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 600;
          p {
            margin-top: 10px;
            margin-bottom: 10px;
          }
          &-number {
            color: #ff0000;
            font-size: 25px;
          }
        }
        .freeship {
          b {
            color: #29a07e;
            font-style: italic;
            font-weight: 900;
          }
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          background-color: #ff0000;
          color: #ffffff;
          font-weight: 600;
          cursor: pointer;
          height: 35px;
          // padding-top: 10px;
          // padding-bottom: 10px;
          border: none;
          border-radius: 10px;
          transition: 0.3s background-color;
          font-size: 15px;
        }
        button:hover {
          background-color: #dc3545;
        }

        .product-description {
          border-top: 1px solid #f6f6f6;
          border-bottom: 1px solid #f6f6f6;
          &-title {
            font-size: 14px;
            font-weight: 600;
          }
          &-feature {
            font-size: 13px;
          }
        }

        .quantity-product-detail {
          display: flex;

          .footer-product-detail {
            display: flex;
            justify-content: space-between;
            width: fit-content;
            gap: 10px;
            bottom: 0;
            font-weight: 600;

            .quantity {
              width: 100px;
              border: 1px solid rgb(222, 222, 222);
              height: 40px;
              display: flex;
              justify-content: space-between;
              padding: 0 10px;
              align-items: center;
              border-radius: 5px;
              font-weight: 600;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              -o-user-select: none;
              user-select: none;

              .minus {
                cursor: pointer;
                color: rgb(188, 188, 188);
                width: 20px;
                display: flex;
                justify-content: center;
                margin-top: -3px;
                font-size: 30px;
              }

              .minus:hover {
                color: black;
              }

              .plus {
                color: rgb(188, 188, 188);
                cursor: pointer;
                font-size: 25px;
                width: 20px;
                display: flex;
                justify-content: center;
                margin-top: -3px;
              }

              .plus:hover {
                color: black;
              }
            }
          }
        }
        .detail-product-sale {
          display: grid;
          grid-template-columns: auto auto;
          gap: 10px;
          align-items: center;
          padding-top: 50px;
          justify-content: space-around;

          .icon-sale {
            display: flex;
            gap: 10px;
            align-items: center;
            padding-bottom: 30px;

            img {
              width: 30px;
              height: 25px;
            }

            span {
              font-weight: 500 !important;
            }
          }
        }
      }
    }
  }
}

.height-skeleton {
  height: 500px;
}

button.image-gallery-icon.image-gallery-fullscreen-button {
  display: none;
}

button.image-gallery-icon.image-gallery-play-button {
  display: none;
}

svg.image-gallery-svg {
  scale: 0.4;
}

.image-gallery-slide .image-gallery-description {
  background: rgba(0, 0, 0, 0.4);
  bottom: 70px;
  color: #fff;
  left: 45%;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  white-space: normal;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .detail-product-sale {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    padding-top: 0px;
    margin-top: -10px;

    .icon-sale {
      display: flex;
      gap: 10px;
      align-items: center;
      padding-bottom: 20px;

      img {
        width: 30px;
        height: 25px;
      }

      span {
        font-weight: 500 !important;
      }
    }
  }

  .quantity-product-detail {
    .label-quantity {
      display: none;
    }

    .footer-product-detail {
      .quantity {
        position: fixed;
        bottom: 15px;
        left: 10px;
        z-index: 2;
        width: 30% !important;
      }
    }
  }

  svg.image-gallery-svg {
    display: none;
  }

  .detail-product-content {
    display: grid;
    gap: 30px;

    .img-detail {
      width: 100%;
    }

    .content-detail {
      margin-top: 0;
      width: 100%;
    }
  }
}
