.page-shopping-cart {
  margin: 0 auto;
  max-width: 1220px;

  .cart {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;

    &-header {
      background-color: #ededed;
      line-height: 50px;
      border-radius: 20px;
      padding-left: 10px;
      font-weight: 500;
      font-size: 13px;
      font-family: "Mulish", sans-serif;
    }
  }
}
