.homepage {
  margin: 0 auto;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding: 0 6px;
  background-color: #ededed;
  margin-top: 170px;
  border-radius: 20px;
  // height: 100vh;
  // justify-content: center;
}
