.header-menu {
  display: none;
  z-index: 6;
  top: calc(100% + 10px);
  left: 0;
  width: 205px;
  height: 450px;
  // background: red;
  border-radius: 20px;
  // margin-top: 11px;
  margin-right: 15px;
  // overflow: auto;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  // border: 2px solid #29a07e;
  // position: relative;

  &-item:first-child {
    border-radius: 20px 20px 0 0;
    // background-color: red;
  }
  &-item:last-child {
    border-radius: 0 0 20px 20px;
  }
  &-item {
    height: calc(100% / 10);
    padding: 0 14px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    transition-delay: 1s;
    a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      font-size: 14px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      svg {
        width: 24px;
        height: 24px;
        margin-right: 15px;
        background-position: center;
      }
    }
    .submenu {
      display: none;
      position: absolute;
      width: 1018px;
      height: 100%;
      top: 0;
      left: 100%;
      background-color: #ffffff;
      z-index: 7;
      border-radius: 20px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    }
  }
  &-item:hover {
    .submenu {
      display: block;
      transition: all 0.5s ease;
    }
    background-color: #29a07e;
    // opacity: 0.5;
  }
}
.header-menu::before ::after {
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .header-menu {
    &-item {
      .submenu {
        width: 785px;
      }
    }
  }
}
