body {
  overflow: scroll;
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  background-color: #ededed;
  word-break: break-word;
}
.ant-space {
  margin-left: 10px;
  cursor: pointer;
}
