.search-product {
  margin: 0 auto;
  max-width: 1220px;
  min-height: 100vh;
  .page-cover {
    min-height: calc(100vh - 350px) !important;
    margin: 0 auto;
    max-width: 100%;
    .search-header {
      background-color: #ededed;
      line-height: 50px;
      border-radius: 20px;
      padding-left: 10px;
      font-weight: 500;
      font-size: 13px;
      font-family: "Mulish", sans-serif;
    }
    .search-content {
      padding-top: 50px;
      width: 60%;
      margin: 0 auto;
      &-search {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        &-title {
          font-weight: 700;
          font-size: 25px;
          margin: auto;
          margin-bottom: 20px;
        }
        input {
          width: 100%;
          padding-left: 20px;
          height: 36px;
          box-sizing: border-box;
          border-radius: 5px;
          border: 1px solid rgb(196, 196, 207);
          margin-bottom: 10px;
          font-size: 17px;
        }
        input:focus {
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
          outline: none;
        }

        &-button {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          height: 36px;
          width: 100%;
          border-radius: 5px;
          background-color: #333;
          font-size: 17px;
          color: #ffffff;
          transition: 0.3s all;
          border: none;
          opacity: 1;
        }
        &-button:hover {
          opacity: 0.8;
        }
      }
      .search-list-order {
        margin-top: 20px;
        font-size: 17px;
        border-radius: 11px;
        .user-order-container {
          background-color: #ffffff;
          border: 2px solid #29a07e;
          border-radius: 12px;
          margin-bottom: 20px;
          .user-order-header {
            background-color: #414846;
            border-radius: 10px 10px 0 0;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: #ffffff;
            font-size: 15px;
            font-weight: 600;
            .order-header-right {
              margin-bottom: 5px;
            }
            .order-header-right-500 {
              font-weight: 500;
            }
            .order-cancel {
              box-sizing: border-box;
              background-color: #ffffff;
              color: red;
              // border: 1px solid red;
              border-radius: 10px;
              padding: 5px 10px;
            }
          }
          .user-order-content {
            // background-color: red;
            // border-bottom: 1px solid #333;
            padding: 5px;
            margin-bottom: 10px;
            .top {
              box-sizing: border-box;
              padding: 5px;
              display: flex;
              gap: 10px;
              justify-content: space-around;

              .image-detail-order {
                height: 100%;
                // width: 50%;

                img {
                  height: 80%;
                  border-radius: 10px;
                  width: 120px;
                }
              }

              .detail-order {
                // font-weight: bold;
                width: 100%;
                // display: grid;
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-weight: 600;
                font-size: 15px;
                .price414 {
                  display: none;
                }
              }

              .button-rate1 {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 110px;
                font-size: 15px;
                font-weight: 500;
              }
              .price-sale {
                color: #9b9b9b;
                font-weight: 600;
                font-size: 13px;
                text-decoration: line-through;
              }
            }
          }
          .user-order-footer {
            // background-color: #1e8769;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
            padding: 10px;
            .delete-order {
              padding: 5px 10px;
              border-radius: 5px;
              border: 2px solid red;
              font-weight: 600;
              color: red;
              cursor: pointer;
              transition: 0.3s All;
            }
            .delete-order:hover {
              color: #ffffff;
              background-color: red;
            }

            .btn-hide {
              color: #ffffff;
            }
            .total-price {
              .title-total {
                // color: #9b9b9b;
              }
            }
          }
        }
      }
    }
  }
}

.empty-order {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .search-product {
    .page-cover {
      .search-header {
      }
      .search-content {
        width: 95%;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .search-product {
    .page-cover {
      .search-header {
        line-height: 30px;
        font-size: 12px;
        margin-bottom: 50px;
      }
      .search-content {
        width: 100%;
        box-sizing: border-box;
        &-search {
          padding: 10px;
        }
        .search-list-order {
          .user-order-container {
            border-radius: 0;
            border: none;
            .user-order-header {
              border-radius: 0;
              .user-order-header-left {
                font-size: 13px;
              }
              .state-order {
                .order-cancel {
                  font-size: 11px;
                }
              }
            }
            .user-order-content {
              .top {
                .detail-order {
                  .nameProduct414 {
                    font-size: 12px;
                  }
                  .price414 {
                    display: block;
                  }
                }
              }
            }
            .button-rate1 {
              display: none !important;
            }
          }
        }
      }
    }
  }
}
