.home-trend-group {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  background-image: url(https://lacdau.com/static/assets/default/images/home-bg-collection.png);
  border-radius: 20px;
  padding: 15px 12px 0;
  .home-trend-title {
    color: #fff;
    font-weight: bolder;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: "Mulish", sans-serif;
  }

  .home-trend-category {
    display: flex !important;
    flex-wrap: wrap !important;
    &-item {
      margin: 0 12px 12px 0;
      background: #fff;
      border-radius: 15px;
      width: calc(100% / 4 - 33px);
      overflow: hidden;
      padding: 12px 12px 17px;
      text-decoration: none;
      cursor: pointer;
      img {
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
        border-style: none;
      }

      &-text {
        color: #000;
        margin: 20px 0 0;
        position: relative;
        span {
          line-height: 20px;
          margin-bottom: 5px;
          display: block;
          font-size: 14px;
        }
        span:nth-child(2n) {
          color: #29a07e;
        }

        svg {
          position: absolute;
          color: #29a07e;
          top: 3px;
          right: 0;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-size: 10px 20px;
          background-color: #ffffff;
          transition: 0.7s All;
          border: 2px solid #29a07e;
        }
      }
    }
    &-item:last-child {
      margin-right: 0;
    }
    &-item:hover {
      svg {
        color: #fff;
        background-color: #29a07e;
      }
    }

    &-item::after ::before {
      box-sizing: border-box;
    }
  }
  .home-trend-category::after ::before {
    box-sizing: border-box;
  }
}

.home-trend-group::after ::before {
  box-sizing: border-box;
}

//responsive
@media only screen and (max-width: 600px) {
  .home-trend-group {
    border-radius: 0 !important;
    background-position: center top;
    margin-bottom: 10px;
    padding: 10px;
    .home-trend-title {
      line-height: 20px !important;
      font-size: 22px;
      margin-bottom: 10px !important;
    }

    .home-trend-category {
      &-item {
        margin: 0 !important;
        width: 100% !important;
        margin-bottom: 10px !important;
      }
    }
  }
}
