.detail-product-content {
  display: flex;
  gap: 20px;
  transition: 0.3s;

  .img-detail {
    width: 45%;
    background-color: white;
    padding: 20px;
    // margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(202, 202, 202, 0.16) 0px 1px 4px;
  }

  .content-detail {
    width: 55%;
    position: relative;
    font-weight: 500;
    background-color: white;
    padding: 20px;
    margin-bottom: 1px;
    border-radius: 10px;
    box-shadow: rgba(202, 202, 202, 0.16) 0px 1px 4px;

    .footer-detail {
      .product-description {
        border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        &-title {
          font-size: 14px;
          font-weight: 600;
        }
        &-feature {
          font-size: 13px;
        }
      }
      .price {
        background-color: rgba(242, 242, 242, 0.441);
        padding: 20px;
        display: flex;
        align-items: center;
        margin: 20px 0;
        border-radius: 20px;
        .price-title {
          font-size: 15px;
          font-weight: 600;
          // background-color: red;
          // margin-right: 10px;
        }
        .price-product {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 28px;
          font-weight: bold;
          width: 90% !important;
          text-align: center;
          color: #29a07e;
          &-sale {
            margin-left: 10px;
            font-size: 18px;
            color: #878c8f;
            margin-right: 10px;
            text-decoration: line-through;
            font-weight: normal;
          }
          &-discount {
            font-size: 13px;
          }
        }
      }
      .button-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        gap: 50px;
        margin-top: 50px;

        button {
          width: 100%;
          color: #ffffff;
          font-weight: 600;
          font-size: 20px;
          border-radius: 10px;
          border: none;
          padding-top: 15px;
          padding-bottom: 15px;
          cursor: pointer;
          transition: 0.3s box-shadow;
        }
        button:hover {
          box-shadow: 0 1px 6px rgba(14, 14, 14, 0.4);
        }
        .add-to-cart {
          background-color: #29a07e;
        }

        .go-to-cart {
          background-color: #ff5c00;
        }
      }
      .quantity-product-detail {
        display: flex;

        .footer-product-detail {
          display: flex;
          justify-content: space-between;
          width: fit-content;
          gap: 10px;
          bottom: 0;
          font-weight: 600;

          .quantity {
            width: 100px;
            border: 1px solid rgb(222, 222, 222);
            height: 40px;
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            align-items: center;
            border-radius: 5px;
            font-weight: 600;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;

            .minus {
              cursor: pointer;
              color: rgb(188, 188, 188);
              width: 20px;
              display: flex;
              justify-content: center;
              margin-top: -3px;
              font-size: 30px;
            }

            .minus:hover {
              color: black;
            }

            .plus {
              color: rgb(188, 188, 188);
              cursor: pointer;
              font-size: 25px;
              width: 20px;
              display: flex;
              justify-content: center;
              margin-top: -3px;
            }

            .plus:hover {
              color: black;
            }
          }
        }
      }
      .detail-product-sale {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        align-items: center;
        padding-top: 50px;
        justify-content: space-around;

        .icon-sale {
          display: flex;
          gap: 10px;
          align-items: center;
          padding-bottom: 30px;

          img {
            width: 30px;
            height: 25px;
          }

          span {
            font-weight: 500 !important;
          }
        }
      }
    }
  }
}

button.image-gallery-icon.image-gallery-fullscreen-button {
  display: none;
}

button.image-gallery-icon.image-gallery-play-button {
  display: none;
}

svg.image-gallery-svg {
  scale: 0.4;
}

.image-gallery-slide .image-gallery-description {
  background: rgba(0, 0, 0, 0.4);
  bottom: 70px;
  color: #fff;
  left: 45%;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  white-space: normal;
  justify-content: center;
  align-items: center;
}
