.page-cover {
  margin: 0 auto;
  max-width: 1220px;
  .product {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    // background-color: red;
    // padding: 15px 12px 0;
    margin-bottom: 30px;
    &-header {
      background-color: #ededed;
      line-height: 50px;
      border-radius: 20px;
      padding-left: 10px;
      font-weight: 500;
      font-size: 13px;
      font-family: "Mulish", sans-serif;
    }
    // &-detail {
    //   display: flex;
    //   flex-direction: row;
    //   background-color: #ffffff;
    //   border-radius: 20px;
    //   padding: 10px;
    //   &-img {
    //     width: 45%;
    //     padding: 10px;
    //   }
    //   &-info {
    //     width: 45%;
    //     padding: 10px;

    //     &-text {
    //       .product-name {
    //         font-weight: 600;
    //         font-size: 20px;
    //       }

    //       .product-description {
    //         &-title {
    //           font-weight: 600;
    //         }
    //       }
    //     }

    //     &-price {
    //       background-color: #ededed;
    //       padding: 10px 20px;
    //       margin-bottom: 30px;
    //       border-radius: 20px;
    //       .price {
    //         // display: flex;
    //         // flex-direction: column;
    //         &-detail {
    //           display: flex;
    //           flex-direction: row;
    //           &-title {
    //             width: 150px;
    //           }

    //           .price-intial {
    //             text-decoration: line-through;
    //             color: #b8c3d7;
    //           }
    //           .price-discount {
    //             color: #29a07e;
    //             font-weight: 600;
    //             small {
    //               font-weight: normal;
    //             }
    //           }
    //         }
    //       }
    //     }

    //     .btn-buy {
    //       display: flex;
    //       flex-direction: row;
    //       align-items: center;
    //       justify-content: center;
    //       a {
    //         padding: 10px 20px;
    //         margin-right: 20px;
    //         background-color: #29a07e;
    //         border-radius: 20px;
    //         text-decoration: none;
    //         font-weight: 600;
    //         color: #ffffff;
    //       }
    //       a:last-child {
    //         background-color: #ff5c00;
    //       }
    //     }
    //   }
    // }
  }
}

.page-cover::after ::before {
  box-sizing: border-box;
}
