.header-container {
  // position: fixed;
  position: relative;
  // overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  // padding: auto;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;

  .header__top {
    background-color: #29a07e;
    // display: flex;
    // display: none;
    // align-items: center;
    height: 35px;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;

    .header__cover {
      margin: 0 auto;
      max-width: 1220px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      // padding: 0 6px;
      height: 100%;

      .header__top__left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
        box-sizing: border-box;
        height: 100%;
        // position: relative;

        &-item {
          height: 80%;
          padding: 0 10px;
          display: flex;
          align-items: center;
          background-color: #d4ee8c;
          color: #333;
          margin-right: 20px;
          border-radius: 50px;
          position: relative;
          cursor: pointer;
          svg {
            font-size: 20px;
          }
          &-hover {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 365px;
            height: auto;
            // height: 400px;
            background-color: #ffffff;
            border-radius: 10px;
            z-index: 20;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
            p {
              font-size: 15px;
              display: flex;
              align-items: center;
              a {
                text-decoration: none;
                color: #333;
              }
              svg {
                margin-left: 20px;
                margin-right: 20px;
                color: #29a07e;
              }
            }
          }
        }
        &-item:hover {
          .header__top__left-item-hover {
            display: block;
          }
        }

        &-title {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          text-decoration: none;
          color: #ffffff;

          svg {
            font-size: 18px;
          }
        }
      }

      .header__top__right {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        font-weight: 600;

        &-title {
          display: flex;
          align-items: center;
          color: #ffffff;
          text-decoration: none;
          // margin-right: 30px;

          svg {
            font-size: 25px;
          }

          &-user {
            text-decoration: none;
            color: #ffffff;
            transition: 0.3s all;
          }
          &-user:hover {
            color: #ededed;
          }
        }

        span {
          // margin-right: 40px;
          // margin-left: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;

          a {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              // font-size: 20px;
              color: #ffffff;
            }
            .ant-space-item {
              span {
                svg {
                  font-size: 12px;
                  margin-bottom: 5px;
                }
              }
            }
          }
          .loginester {
            display: flex;
          }
        }
      }
    }
  }

  .header__main {
    display: flex;
    align-items: center;
    height: 120px;
    // height: 70px;
    font-size: 14px;
    font-family: "Mulish", sans-serif;
    // background-color: #29a07e;
    background-color: white;
    // word-break: break-word;

    .header__main__cover {
      margin: 0 auto;
      width: 1220px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // padding: 0 6px;
      height: 100%;
      position: relative;
      // background-color: #29a07e;
      .header__main__cover__left {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        box-sizing: border-box;
        height: 100%;
        position: relative;
        // background-color: red;

        // margin-left: 50px;

        &-logo {
          width: 20%;
          height: 100%;

          &-img {
            margin-top: 10px;
            width: 90%;
            height: 80%;
          }
        }

        &-menu {
          &-title {
            display: flex;
            align-items: center;
            line-height: 40px;
            margin: 0;
            background: #29a07e;
            border-radius: 10px;
            color: #fff;
            padding: 0 15px;
            text-transform: uppercase;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -moz-user-select: none;
            -webkit-user-select: none;
            svg {
              font-size: 20px;
            }
          }
          // .header-menu {
          //   position: absolute;
          //   top: calc(100% + 10px);
          // }
          // .header-menu {
          //   display: none;
          //   z-index: 999;
          //   position: absolute;
          //   top: calc(100% + 10px);
          //   left: 0;
          //   width: 205px;
          //   height: 450px;
          //   background: red;
          //   border-radius: 20px;
          //   // margin-top: 11px;
          //   margin-right: 15px;
          //   overflow: auto;
          //   &-item:first-child {
          //     border-radius: 20px 20px 0 0;
          //   }
          //   &-item {
          //     height: calc(100% / 10);
          //     padding: 0 14px;
          //     display: flex;
          //     align-items: center;
          //     a {
          //       text-decoration: none;
          //       color: #333;
          //       font-weight: 500;
          //       font-size: 14px;
          //       width: 100%;
          //       height: 100%;
          //       display: flex;
          //       align-items: center;
          //       svg {
          //         width: 24px;
          //         height: 24px;
          //         margin-right: 15px;
          //         background-position: center;
          //       }
          //     }
          //   }
          // }
        }

        &-search {
          background-color: #ffffff;
          box-sizing: border-box;
          width: 350px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: 10px;
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);

          button {
            width: 40px;
            height: 30px;
            position: absolute;
            left: 5px;
            top: 5px;
            border: none;
            svg {
              font-size: 20px;
            }
            background-color: #ffffff;
          }
          input {
            width: 80%;
            height: 80%;
            padding-left: 50px;
            font-size: 16px;
            border: none;
            outline: none;
          }
        }

        .margin-left__10px {
          margin-left: 10px;
        }
        .margin-left__20px {
          margin-left: 20px;
        }
        .margin-left__30px {
          margin-left: 30px;
        }
        .height__40px {
          height: 40px;
        }
      }

      .header__main__cover__right {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 40%;

        &-hotline {
          // margin-right: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          // height: 40px;

          &-icon {
            height: 100%;
            svg {
              font-size: 35px;
              color: #29a07e;
              animation: shake 1s;
              animation-iteration-count: infinite;
            }
          }

          &-detail {
            margin-left: 15px;
            height: 100%;
            display: flex;
            flex-direction: column;
            span {
              height: 50%;
            }
          }

          @keyframes shake {
            0% {
              -webkit-transform: rotate(0) scale(1) skew(1deg);
            }
            10% {
              -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            }
            20% {
              -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            }
            30% {
              -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            }
            40% {
              -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            }
            50% {
              -webkit-transform: rotate(0) scale(1) skew(1deg);
            }
            100% {
              -webkit-transform: rotate(0) scale(1) skew(1deg);
            }
          }

          .main-color {
            color: #29a07e;
          }
          .font-weight-600 {
            font-weight: 600;
          }
        }

        .header__main-cart {
          // margin-left: 40px;
          // margin-right: 20px;
          position: relative;
          line-height: 42px;
          width: 150px;
          display: flex;
          justify-content: space-evenly;
          flex-direction: row;
          align-items: center;
          border-radius: 10px;
          box-shadow: 0 0 0 1px #29a07e;
          // box-sizing: border-box;
          margin-left: 10px;

          &-icon {
            display: flex;
            align-items: center;
            position: relative;
            width: 60px;
            svg {
              font-size: 35px;
              color: #29a07e;
            }
            &-amount {
              position: absolute;
              top: 0px;
              right: 30%;
              border: 1px solid red;
              background-color: red;
              width: 15px;
              height: 15px;
              line-height: 17px;
              border-radius: 15px;
              color: #ffffff;
              font-size: 9px;
              text-align: center;
              font-weight: 600;
            }
          }
          &-title {
            margin-left: -15px;
            width: 70px;
            text-decoration: none;
            color: #333;
            font-weight: 600;
            font-size: 14px;
          }
          &-title:hover {
            color: #29a07e;
          }
          &-detail {
            display: none;
          }
        }
        .header__main-cart:hover {
          .div-cover {
            display: block;
          }
        }
      }
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  // inset: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

// responsive

@media only screen and (max-width: 1220px) {
  .header-container {
    // background-color: red !important;
    .header__top {
      .header__cover {
        .header__top__right {
          span {
            .loginester {
              // display: none;
            }
          }
        }
      }
    }
    .header__main {
      // background-color: red;
      .header__main__cover {
        .header__main__cover__left {
          margin-left: 5px;
          &-search {
            // width: 700px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header-container {
    margin-bottom: 10px !important;
    .header__top {
      display: none;
      // background-color: red;
    }

    .header__main {
      background-color: #29a07e;
      height: 65px;

      .header__main__cover {
        .header__main__cover__left {
          width: 60%;
          overflow: hidden;
          &-logo {
            margin-top: -10px;
            &-img {
              width: 80%;
              height: 80%;
            }
          }
          &-menu {
            display: none;
          }
          &-search {
            width: 550px;
          }
        }
        .header__main__cover__right {
          // width: 40%;
          justify-content: flex-end !important;
          &-hotline {
            margin-right: 30px;
            &-icon {
              // display: none;
              // margin-right: 30px;
              svg {
                color: #ffffff;
                font-size: 25px;
              }
            }
            &-detail {
              .numberPhone-text {
                display: none;
              }
              .numberPhone {
                color: #ffffff;
              }
              // display: none;
            }
            // display: none !important;
          }

          .header__main-cart {
            margin-right: 20px;
            // display: none !important;
            width: 40px !important;
            padding: 3px;
            // margin-left: 20px;
            box-shadow: 0 0 0 1px #29a07e !important;

            &-icon {
              // width: 50px;
              svg {
                color: #ffffff !important;
              }
              &-amount {
                top: -3px;
                right: 0px !important;
              }
            }

            &-title {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .header-container {
    .header__main {
      height: 60px;
      .header__main__cover {
        .header__main__cover__left {
          margin-left: 0px !important;
          width: 80%;
          // background-color: red;
          &-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px !important;
            width: 20%;
            // background-color: wheat;
            margin-bottom: 10px;

            &-img {
              width: 120%;
              height: 100%;
            }
          }
          &-search {
            // margin-left: 10px;
            // background-color: #333;
            width: 280px;
            height: 40px;
            // background-color: red;
            input {
              width: 80%;
              border-radius: 20px;
              // width: 50px;
              height: 80%;
            }
          }
        }
        .header__main__cover__right {
          width: 10%;
          // background-color: yellow;
          &-hotline {
            display: none;
          }
        }
      }
    }
  }
}

.button-dropdown {
  background-color: #29a07e;
  width: 80px;
  height: 30px;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
}

.button-dropdown:hover {
  opacity: 0.9;
}
