.header-container {
  // position: fixed;
  // position: sticky;
  // overflow: hidden;
  top: 0;
  padding: auto;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;

  .header__top {
    background-color: #29a07e;
    display: flex;
    // display: none;
    align-items: center;
    height: 35px;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;

    .header__cover {
      margin: 0 auto;
      width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 6px;
      height: 100%;

      .header__top__left {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 70%;

        &-item {
          height: 80%;
          padding: 0 10px;
          display: flex;
          align-items: center;
          background-color: #d4ee8c;
          color: #333;
          margin-right: 20px;
          border-radius: 50px;
          position: relative;
          cursor: pointer;
          svg {
            font-size: 20px;
          }
          &-hover {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 365px;
            height: auto;
            // height: 400px;
            background-color: #ffffff;
            border-radius: 10px;
            z-index: 20;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
            p {
              font-size: 15px;
              display: flex;
              align-items: center;
              a {
                text-decoration: none;
                color: #333;
              }
              svg {
                margin-left: 20px;
                margin-right: 20px;
                color: #29a07e;
              }
            }
          }
        }
        &-item:hover {
          .header__top__left-item-hover {
            display: block;
          }
        }

        &-title {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          text-decoration: none;
          color: #ffffff;

          svg {
            font-size: 18px;
          }
        }
      }

      .header__top__right {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 30%;
        font-weight: 600;

        .margin-left__40px {
          margin-left: 40px;
        }

        &-title {
          display: flex;
          align-items: center;
          color: #ffffff;
          text-decoration: none;
          margin-left: 10px;

          svg {
            font-size: 25px;
          }

          &-user {
            text-decoration: none;
            color: #ffffff;
            transition: 0.3s all;
          }
          &-user:hover {
            color: #ededed;
          }
        }

        span {
          margin-left: 40px;
          display: flex;
          flex-direction: row;
          justify-content: center;

          svg {
            font-size: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .header__main {
    display: flex;
    align-items: center;
    height: 120px;
    // height: 70px;
    font-size: 14px;
    font-family: "Mulish", sans-serif;
    // background-color: #29a07e;
    background-color: white;

    .header__main__cover {
      margin: 0 auto;
      width: 1220px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // padding: 0 6px;
      height: 100%;
      position: relative;
      // background-color: #29a07e;
      .header__main__cover__left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        // width: 50%;
        width: 80%;
        box-sizing: border-box;
        height: 100%;
        position: relative;
        &-logo {
          width: 20%;
          height: 100%;

          &-img {
            margin-top: 10px;
            width: 90%;
            height: 80%;
          }
        }

        &-menu {
          &-title {
            display: flex;
            align-items: center;
            line-height: 40px;
            margin: 0;
            background: #29a07e;
            border-radius: 10px;
            color: #fff;
            padding: 0 15px;
            text-transform: uppercase;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -moz-user-select: none;
            -webkit-user-select: none;
            svg {
              font-size: 20px;
            }
          }

          // .header-menu {
          //   display: none;
          //   z-index: 999;
          //   position: absolute;
          //   top: calc(100% + 10px);
          //   left: 0;
          //   width: 205px;
          //   height: 450px;
          //   background: red;
          //   border-radius: 20px;
          //   // margin-top: 11px;
          //   margin-right: 15px;
          //   overflow: auto;
          //   &-item:first-child {
          //     border-radius: 20px 20px 0 0;
          //   }
          //   &-item {
          //     height: calc(100% / 10);
          //     padding: 0 14px;
          //     display: flex;
          //     align-items: center;
          //     a {
          //       text-decoration: none;
          //       color: #333;
          //       font-weight: 500;
          //       font-size: 14px;
          //       width: 100%;
          //       height: 100%;
          //       display: flex;
          //       align-items: center;
          //       svg {
          //         width: 24px;
          //         height: 24px;
          //         margin-right: 15px;
          //         background-position: center;
          //       }
          //     }
          //   }
          // }
        }

        &-search {
          box-sizing: border-box;
          width: 350px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: 10px;
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);

          button {
            width: 40px;
            height: 30px;
            position: absolute;
            left: 5px;
            top: 5px;
            border: none;
            svg {
              font-size: 20px;
            }
            background-color: #ffffff;
          }
          input {
            width: 80%;
            height: 80%;
            padding-left: 50px;
            font-size: 16px;
            border: none;
            outline: none;
          }
        }

        .margin-left__10px {
          margin-left: 10px;
        }
        .margin-left__20px {
          margin-left: 20px;
        }
        .margin-left__30px {
          margin-left: 30px;
        }
        .height__40px {
          height: 40px;
        }
      }

      .header__main__cover__right {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 30%;

        &-hotline {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 40px;

          &-icon {
            height: 100%;
            svg {
              font-size: 35px;
              color: #29a07e;
              animation: shake 1s;
              animation-iteration-count: infinite;
            }
          }

          &-detail {
            margin-left: 15px;
            height: 100%;
            display: flex;
            flex-direction: column;
            span {
              height: 50%;
            }
          }

          @keyframes shake {
            0% {
              -webkit-transform: rotate(0) scale(1) skew(1deg);
            }
            10% {
              -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            }
            20% {
              -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            }
            30% {
              -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            }
            40% {
              -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            }
            50% {
              -webkit-transform: rotate(0) scale(1) skew(1deg);
            }
            100% {
              -webkit-transform: rotate(0) scale(1) skew(1deg);
            }
          }

          .main-color {
            color: #29a07e;
          }
          .font-weight-600 {
            font-weight: 600;
          }
        }

        .header__main-cart {
          line-height: 42px;
          width: 150px;
          display: flex;
          justify-content: space-evenly;
          flex-direction: row;
          align-items: center;
          border-radius: 10px;
          box-shadow: 0 0 0 1px #29a07e;
          box-sizing: border-box;

          &-icon {
            display: flex;
            align-items: center;
            position: relative;
            width: 60px;
            svg {
              font-size: 35px;
              color: #29a07e;
            }
            &-amount {
              position: absolute;
              top: 0px;
              right: 30%;
              border: 1px solid red;
              background-color: red;
              width: 15px;
              height: 15px;
              line-height: 17px;
              border-radius: 15px;
              color: #ffffff;
              font-size: 9px;
              text-align: center;
              font-weight: 600;
            }
          }
          &-title {
            margin-left: -15px;
            width: 70px;
            text-decoration: none;
            color: #333;
            font-weight: 600;
            font-size: 14px;
          }
          &-title:hover {
            color: #29a07e;
          }
          &-detail {
            display: none;
          }
        }
      }
    }
  }
}

// .modal-menu {
//   // display: none; /* Hidden by default */
//   position: absolute; /* Stay in place */
//   z-index: 3; /* Sit on top */
//   // padding-top: 100px; /* Location of the box */
//   left: 0;
//   top: 0;
//   // top: 100%;
//   // top: 20%;
//   width: 100%; /* Full width */
//   height: 100vh; /* Full height */
//   // overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0, 0, 0); /* Fallback color */
//   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
// }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  // inset: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
