.footer {
  display: none;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);

  &-cover {
    display: flex;
    padding: 20px auto;
    width: 80%;
    margin-top: 20px;
    flex-direction: row;
    justify-content: flex-start;
    // box-sizing: border-box;

    .box-footer {
      width: 25%;
      // box-sizing: border-box;
      display: flex;
      flex-direction: column;
      margin-right: 100px;

      .box-footer-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 17px;
        // box-sizing: border-box;
      }
      .box-footer-box {
        p {
          font-size: 14px;
          display: flex;
          align-items: center;
          svg {
            font-size: 20px;
            margin-right: 10px;
            color: #29a07e;
          }
        }
      }
    }
    .box-footer::after ::before {
      box-sizing: border-box;
    }
    .box-footer:first-child {
      // min-width: 10%;
      margin-left: 15px;
    }
    .box-img-res {
      display: none;
    }
  }

  &-cover::after ::before {
    box-sizing: border-box;
  }
  &-copyright {
    background-color: #29a07e;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    a {
      // text-decoration: none;
      color: #ffffff;
    }
    a:hover {
      color: #333;
    }
  }
  .menu-responsive-sticky {
    display: none;
  }
}

.footer::after ::before {
  box-sizing: border-box;
}

@media only screen and (max-width: 1166px) {
  .footer {
    &-cover {
      // display: flex;
      // justify-content: flex-start;
      .box-footer {
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .footer {
    &-cover {
      width: 100%;
      .box-footer {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    position: relative;
    &-cover {
      margin-top: 0;
      box-sizing: border-box;
      padding: 5px;
      flex-direction: column;
      .box-img-res {
        width: 100%;
        // background-color: red;
        display: flex;
        justify-content: center;

        &-image {
          width: 20%;
          // background-color: red;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .box-4 {
        .box-footer-title {
          display: none;
        }
      }
      .box-footer {
        width: 100%;
        // background-color: #29a07e;
        justify-content: center;
        align-items: center;
        .box-footer-box {
          display: flex;
          flex-direction: column;

          p {
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .box-res {
        color: #6c757d;
        .box-footer-title {
          margin-bottom: 10px;
        }
        .box-footer-box {
          p {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .footer {
    &-cover {
      .box-img-res {
        // justify-content: flex-start;
        &-image {
          width: 25%;
        }
      }

      .box-4 {
        width: 100%;

        .box-footer-box {
          flex-direction: column;
          p {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

//RESPONSIVE MENU

@media only screen and (max-width: 768px) {
}
